*{
    margin: 0;

    font-family: sans-serif;
    
}
body {
    text-align: center;

}
h1 {
    color: white;
}
.banner{
    width: 100%; 
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url(background3.png);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #071f0f;
    border: 5px solid #0a0a0a;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    position: relative;
}
.logo{
    width: 500px;
    cursor: pointer;
    object-position: 0 0;
    
}




.but{
    position: relative;
    right: 50px;
     width: 70px;
    padding: 15px 0;
    text-align: center;
    margin: 40px 50px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid #114711;
    background-color: #e35b32;
    color: #fff;
    cursor: pointer;
    
}


    

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    
}
button{
    width: 70px;
    padding: 20px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid #114711;
    background-color: #208520;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-right: 100px;
    
}









h1 {
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(109, 213, 130);
    margin-left: auto;
    margin-right: auto;
}
th, td {
    padding: 10px;
    text-align: left;
}

.fororagainst {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #052810;
}
.child {
    width: 200px;
    margin: 50px;
    align-items: center;
    color: #88be95;
}
h3 {
    color: white;
}
.activebets {
    padding: 20px;
}



